div(ng-controller="mvDesignCtrl" )
	
		.row.design-forside-2
			.col-xs-12.col-md-6.main-padding-top
				.video-text
					.block-dk
						H1 Bli medlem 
						p  - tilgang til alle kurs, online videokurs, tilgang hele døgnet, kurs for studier, kurs for næringslivet, kurs for fritid
					.block-dk-img
						img(src="/media/colorstory-ipad-gray-201505.jpeg")
			.col-xs-12.col-md-6.position-top
				.row.sell-content
						.wrapper-test
							.content
								.item
									.block-dk
										H2 Månedsabonnement
										span kr 149,-
										a.btn.btn-primary Kjøp nå
								.item
									.block-dk
										H2 Årsabonnement
										span kr 149,-
										a.btn.btn-primary Kjøp nå

			

				
		.row.membership
			.col-md-offset-1.col-xs-12.col-md-10
				.row
					.col-xs-12.col-md-4
						span.glyphicon.glyphicon-eur
						div.message 
							h3 Unlimited access
							p Learn what you want, when you want, from our entire course library.

					.col-xs-12.col-md-4
						span.glyphicon.glyphicon-eur
						div.message 
							h3 3,737 video courses
							p Find what you need in our growing library. New courses added weekly.
					.col-xs-12.col-md-4
						span.glyphicon.glyphicon-eur
						div.message 
							h3 Expert teachers
							p Watch and learn from top experts who are passionate about teaching.
				.row
					.col-xs-12.col-md-4
						span.glyphicon.glyphicon-eur
						div.message 
							h3 Variety of instruction
							p Courses for all levels cover technical skills, creative techniques, business strategies, and more.
					.col-xs-12.col-md-4
						span.glyphicon.glyphicon-eur
						div.message 						
							h3 On-the-go learning
							p Watch from your computer, tablet, or mobile device. Switch back and forth as you choose.
					.col-xs-12.col-md-4
						span.glyphicon.glyphicon-eur
						div.message 						
							h3 Custom playlists
							p Create and save lists of courses you want to watch, and share them with friends or colleagues.
				
						


					//- .col-xs-6.col-sm-12.block
					//- 	H2 Månedsabonnement
					//- 	span kr 149,-
					//- 	button.btn.btn-primary Kjøp nå
					//- .col-xs-6.col-sm-12.block
					//- 	H2 Årsabonnement	
					//- 	span kr 149,-
					//- 	button.btn.btn-primary Kjøp nå

