.design-play(ng-controller="mvDesignCtrl" )
	.row
		.col-sm-12
			.video-wrapper
				video(preload="auto", loop="loop", id="video-design-play", autoplay="autoplay")
					source(ng-src="{{src}}", type="video/mp4")
				.video-text
					.block
						H1 Hallo ... 
						p  Ta kurs. Lær noe nytt ..
				.sell-content
					.block
						H2 Månedsabonnement
						span kr 149,-
						button.btn.btn-primary Kjøp nå
					.block
						H2 Årsabonnement	
						span kr 149,-
						button.btn.btn-primary Kjøp nå

