.container.design-forside-2(ng-controller="mvDesignCtrl" )
	
		.row
			.col-xs-12.col-md-6.main-padding-top
				.video-text
					.block
						H1 Hallo ... 
						p  Ta kurs. Lær noe nytt ..
					.block-img
						img(src="/media/colorstory-ipad-gray-201505.jpeg")
			.col-xs-12.col-md-6.position-top
				.row.sell-content
						.wrapper-test
							.content
								.item
									.block
										span kr 149,-
										button.btn.btn-primary Kjøp nå
										H2 Månedsabonnement

								.item
									.block
										span kr 149,-
										button.btn.btn-primary Kjøp nå
										H2 Årsabonnement
			.col-xs-12.col-md-12
				.video-text-2
					.owl-carousel
						.item
							.h4 test
							.block-img-2
								img(src="/media/retail-store-bg5.jpeg")

						.item
							.h4 test
							.block-img-2
								img(src="/media/retail-store-bg5.jpeg")

				
							

					//- .col-xs-6.col-sm-12.block
					//- 	H2 Månedsabonnement
					//- 	span kr 149,-
					//- 	button.btn.btn-primary Kjøp nå
					//- .col-xs-6.col-sm-12.block
					//- 	H2 Årsabonnement	
					//- 	span kr 149,-
					//- 	button.btn.btn-primary Kjøp nå

