.design-forside-2(ng-controller="mvDesignCtrl" )
	.design-play
		.row
			.col-xs-12.col-md-6
				.video-text
					.block
						H1 Hallo ... 
						p  Ta kurs. Lær noe nytt ..
					.block-img
						img(src="/media/colorstory-ipad-gray-201505.jpeg")
			.col-xs-12.col-md-6
				.row.sell-content
					.col-xs-12.col-sm-12.block
						H2 Månedsabonnement
						span kr 149,-
						button.btn.btn-primary Kjøp nå
					.col-xs-12.col-sm-12.block
						H2 Årsabonnement	
						span kr 149,-
						button.btn.btn-primary Kjøp nå

