div(ng-controller="mvBioCtrl" )
	.container.bio
		.row
			.col-md-2.intro
				h4 Tito poblete
				p contact

			.col-md-3.intro
				p Filipino born, London based photographer who works internationally to produce both personal and commercial work. His photographs are stylised and often focus on the transitional and seemingly impossible moments in a dark and surrealistic style. Holger has worked for numerous international clients like Adidas, BMW, Intel, Nikon, Sony Ericsson and his pictures have been featured in magazines 
			.col-md-7
					.owl-carousel
						.item
							.div
								img.profil(src="/media/profil.jpg")
						

		

		

