div(ng-controller="mvBioCtrl" )
	.container.bio
		.row
			.col-md-9.col-md-offset-3
					.owl-carousel
						.item
							.div
								img(src="/media/budda.png")
			.col-md-1.intro
				h4 Tito poblete
				p contact

			.col-md-2.intro
				p Filipino born, London based photographer who works internationally to produce both personal and commercial work. His photographs are stylised and often focus on the transitional and seemingly impossible moments in a dark and surrealistic ...
			.col-md-3
					.owl-carousel
						.item
							.div
								img.profil(src="/media/profil.jpg")