div.tp(ng-controller="mvMainCtrl" )
	.container
		.row
			.col-md-9.col-md-offset-2
					.owl-carousel
						.item
							.div
								img(src="/media/buddaforside.jpg")
						//- .item
						//- 	.div
						//- 		img(src="/media/2.jpg")
						//- 		p Bilde tekst
						//- .item
						//- 	.div
						//- 		img(src="/media/3.jpg")
						//- 		p Bilde tekst
						//- .item
						//- 	.div
						//- 		img(src="/media/4.jpg")
						//- 		p Bilde tekst
						//- .item
						//- 	.div
						//- 		img(src="/media/5.jpg")
						//- .item
						//- 	.div
						//- 		img(src="/media/6.jpg")
						//- .item
						//- 	.div
						//- 		img(src="/media/7.jpg")
						//- .item
						//- 	.div
						//- 		img(src="/media/8.jpg")
						//- .item
						//- 	.div
						//- 		img(src="/media/9.jpg")

		

		

