div.tp(ng-controller="mvBioCtrl" )
	.container
		.row
			.col-md-9.col-md-offset-3
					.owl-carousel
						.item
							.div
								img(src="/media/makeMeCool.jpg")
								h5 Make Me "Cool"
								h6 - imperfections of being cool
						.item
							.div
								img(src="/media/makeMeCool2.jpg")
								h5 I was born "Cool"
								h6 - imperfections of being cool
						
		

		

