div.tp(ng-controller="mvBioCtrl" )
	.container
		.row
			.col-md-9.col-md-offset-3
					.owl-carousel
						.item
							.div
								img(src="/media/spaces1.jpg")
								//h5 bilde tekst
						.item
							.div
								img(src="/media/spaces2.jpg")
						.item
							.div
								img(src="/media/moon2.jpg")
