div.tp(ng-controller="mvBioCtrl" )
	.container
		.row
			.col-md-9.col-md-offset-3
					.owl-carousel
						.item
							.div
								img(src="/media/portraits1.jpg")
								p Bilde tekst
						.item
							.div
								img(src="/media/portraits2.jpg")
								p Bilde tekst
						.item
							.div
								img(src="/media/portraits3.jpg")
								p Bilde tekst
