div.tp(ng-controller="mvBioCtrl" )
	.container
		.row
			.col-md-9.col-md-offset-3
					.owl-carousel
						.item
							.div
								img(src="/media/portraits1.jpg")
						.item
							.div
								img(src="/media/portraits6.jpg")
						.item
							.div
								img(src="/media/portraits7.jpg")
						.item
							.div
								img(src="/media/portraits8.jpg")
						.item
							.div
								img(src="/media/portraits9.jpg")
