body {
/*padding-bottom 61px*/
  color: #4f4f4f;
}
/* tp design */
.tp {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
}
.navbar-inverse.tp {
  background-color: transparent;
}
.navbar-inverse.tp .navbar-nav > li > a {
  color: #4f4f4f;
}
.navbar-inverse.tp .navbar-nav {
  color: #000;
/*background black*/
  padding-top: 2px;
/*width 236px*/
}
.animated {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel h5 {
  font-size: 0.5em;
  margin-top: 2px;
  letter-spacing: 1px;
  font-weight: 500;
}
.owl-carousel h6 {
  float: right;
  top: -33px;
  font-weight: normal;
  letter-spacing: 2px;
  position: relative;
}
.owl-carousel .item .slide {
  background-color: #337ab7;
}
.owl-carousel .item .slide img {
  margin: 0 auto;
  height: 503px;
  width: auto;
}
.owl-theme .owl-controls {
  position: fixed;
  bottom: 0;
  left: 6%;
  z-index: 1030;
}
.owl-theme .owl-controls .owl-nav .owl-prev:hover,
.owl-theme .owl-controls .owl-nav .owl-next:hover {
  color: #008000;
  background-color: transparent;
}
.owl-theme .owl-controls .owl-nav .owl-prev,
.owl-theme .owl-controls .owl-nav .owl-next {
  color: #4f4f4f;
  background: transparent;
  font-size: 0.8em;
  border-radius: inherit;
  letter-spacing: 8px;
  padding: 5px 10px 5px 10px;
/*font-family 'Raleway Thin';*/
}
.picture {
  height: 70em;
}
/* dropdown-menu*/
.tp .dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 15px;
  left: 277px;
  visibility: hidden;
}
.tp .dropdown-menu li:hover .sub-menu {
  visibility: visible;
  background-color: transparent;
}
.tp .dropdown-menu li:hover .sub-menu li {
  background-color: #eee;
/*opacity 0.9*/
}
.tp .dropdown-menu li:hover .sub-menu li a {
  margin: 0;
  padding: 5px 10px;
  letter-spacing: 1px;
  color: #000;
  font-size: 0.6em;
  font-weight: 700;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,0.8);
}
.tp .dropdown-menu li:hover .sub-menu li a:hover {
  color: #008000;
}
.tp .dropdown-menu li:hover .sub-menu li:first-child {
  padding-top: 5px;
}
.tp .dropdown-menu li:hover .sub-menu li:last-child {
  padding-bottom: 5px;
}
.tp .dropdown-toggle a {
/*font-family 'Raleway Thin';*/
  letter-spacing: 8px;
  padding: 20px 0 10px 0;
  width: 274px;
  font-weight: 700;
/*line-height 1.3em*/
  font-size: 0.8em;
}
.tp .dropdown > .dropdown-menu {
  width: 277px;
}
.tp .dropdown .dropdown-menu {
  opacity: 0;
  display: block;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  box-shadow: none;
  border: none;
  font-size: 1em;
/*background-color black*/
  margin: 0;
  border-radius: 0;
}
.tp .dropdown .dropdown-menu a {
  padding: 0 0px 2px 0;
  margin: 0;
  color: #4f4f4f;
/*font-family 'Raleway Thin';*/
  letter-spacing: 4px;
  font-size: 0.6em;
  font-weight: 700;
}
.tp .dropdown .dropdown-menu a:hover {
  color: #008000;
  background-color: #eee;
}
.tp .dropdown:hover .dropdown-menu {
  display: block;
/*background-color black*/
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -webkit-transition: opacity 0.6s ease-in-out;
}
.ptl {
  padding-top: 20px;
}
/* bio */
.bio .intro {
  font-weight: normal;
  margin-top: 16em;
  margin-left: 1em;
}
.bio .intro h4 {
  font-size: 0.9em;
  margin: 0;
}
.bio .intro p {
  font-size: 0.8em;
}
.bio img.profil {
  height: 20em;
  width: 20em;
}
/* tp design */
.navbar-inverse {
  background-color: #3d5b99;
  color: #ddedef;
  border: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a b {
  margin-left: 10px;
}
.navbar-inverse .navbar-nav >.open > a:hover,
.navbar-inverse .navbar-nav >.open > a:focus,
.navbar-inverse .navbar-nav >.open > a {
  background-color: transparent;
}
.menu-bar {
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
}
.menu-bar .icon-bar {
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin-top: 4px;
  display: block;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  float: right;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.padding-top-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
.toast-top-right {
  top: 50%;
  right: 50px;
}
.toast-success {
  background-color: #4c6eb3;
}
#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* design */
.design-play #video-design-play {
  width: 100%;
}
.design-play .video-wrapper {
  position: relative;
  font-family: 'Roboto', serif;
}
.design-play .video-wrapper .sell-content .block H1,
.design-play .video-wrapper .video-text .block H1 {
  font-size: 4em;
  margin: auto 50px;
}
.design-play .video-wrapper .sell-content .block H2,
.design-play .video-wrapper .video-text .block H2 {
  font-size: 3em;
  margin: 27px 0;
}
.design-play .video-wrapper .sell-content .block p,
.design-play .video-wrapper .video-text .block p {
  font-size: 2em;
  margin: auto 50px;
}
.design-play .video-wrapper .video-text {
  position: absolute;
  top: 8em;
  width: 47%;
  height: 0;
  left: 0;
  color: #fff;
}
.design-play .video-wrapper .sell-content {
  position: absolute;
  top: 5em;
  width: 33em;
  height: 0;
  right: 8em;
}
.design-play .video-wrapper .sell-content .block {
  padding: 32px;
  margin: 0 0 30px 0;
  background-color: #eee;
}
.design-play .video-wrapper .sell-content .block a.btn.btn-primary {
  font-size: 14px;
  margin-left: 20px;
  background-color: #4677ae;
  border: none;
}
/* design-forside-2 */
/********************/
.design-forside-2,
.design-forside-2 H1,
.design-forside-2 H2 {
/*width: 100%*/
  font-family: 'Roboto', serif;
}
.design-forside-2 .sell-content .block-dk H1,
.design-forside-2 .video-text .block-dk H1 {
  font-size: 2.5em;
}
.design-forside-2 .sell-content .block-dk H2,
.design-forside-2 .video-text .block-dk H2 {
  font-size: 2.5em;
  margin: 27px 0 17px 0;
}
.design-forside-2 .sell-content .block-dk p,
.design-forside-2 .video-text .block-dk p {
  font-size: 1.5em;
  max-width: 250px;
}
.design-forside-2 .video-text {
  padding: 6.33em 4em;
  position: relative;
}
.design-forside-2 .video-text .block-dk-img {
  top: 117px;
  right: -3%;
  position: absolute;
  z-index: -1;
}
.design-forside-2 .video-text .block-dk-img img {
  height: 203px;
}
.design-forside-2 .sell-content {
  padding: 6em 3.5em;
}
.design-forside-2 .sell-content .block-dk {
  margin: 0 0 3.5em 0;
}
.design-forside-2 .sell-content .block-dk a.btn.btn-primary {
  font-size: 14px;
  margin-left: 20px;
  background-color: #4677ae;
  border: none;
}
.design-forside-2 .media {
  max-width: 19em;
}
.design-forside-2 .media:first-child {
  padding-top: 8em;
}
.design-forside-2 .media .media-left img {
  height: 6em;
}
footer {
  padding-top: 5em;
}
@media (max-width: 768px) {
  .navbar {
    position: relative;
    margin-bottom: 0;
  }
  .position-top {
    position: absolute;
    background-color: rgba(255,255,255,0.85);
  }
  .main-padding-top {
    padding-top: 10em;
  }
  .design-forside-2 .sell-content .block-dk span {
    font-size: 2em;
    vertical-align: middle;
  }
  .design-forside-2 .sell-content .block-dk button.btn.btn-primary {
    font-size: 1.2em;
  }
  .design-forside-2 .video-text {
    padding: 2em 1em;
    height: 15em;
  }
  .design-forside-2 .video-text .block-dk p {
    font-size: 1.6em;
  }
  .design-forside-2 .video-text .block-dk-img img,
  .design-forside-2 .video-text .block-dk-img {
    top: -280px;
    right: 10%;
  }
  .design-forside-2 .sell-content {
    padding: 0 1em;
    height: 7em;
/*width 32em*/
  }
  .design-forside-2 .sell-content .owl-stage-outer,
  .design-forside-2 .sell-content .owl-stage {
    height: 7em;
  }
  .design-forside-2 .sell-content .block-dk {
    width: 205px;
    border-right: 1px solid #eee;
    margin: 1em 0.6em 0 0.3em;
  }
  .design-forside-2 .sell-content .block-dk H1,
  .design-forside-2 .video-text .block-dk H1 {
    font-size: 3em;
  }
  .design-forside-2 .sell-content .block-dk H2,
  .design-forside-2 .video-text .block-dk H2 {
    line-height: 41px;
    font-size: 1.4em;
    margin: 0;
/*background: #000000 /* Old browsers 
		background: -moz-linear-gradient(left,  #000000 82%, #ffffff 84%) /* FF3.6+ 
		background: -webkit-gradient(linear, left top, right top, color-stop(82%,#000000), color-stop(84%,#ffffff)) /* Chrome,Safari4+ 
		background: -o-linear-gradient(left,  #000000 82%,#ffffff 84%) /* Opera 11.10+ 
		background: -ms-linear-gradient(left,  #000000 82%,#ffffff 84%) /* IE10+ 
		background: linear-gradient(to right,  #000000 82%,#ffffff 84%) /* W3C 
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent*/
  }
  .design-forside-2 .sell-content .wrapper-test {
    width: 100%;
/*height: 100px;*/
/*background: #eee;*/
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .design-forside-2 .sell-content .content {
/*width: auto;*/
    white-space: nowrap;
  }
  .design-forside-2 .sell-content .item {
    display: inline-block;
/*width: 200px;*/
    height: 100px;
  }
}
/*		transition: 10s; 
		-webkit-transition: 10s;
*/
.design-forside-2 .video-text-2 .item {
  width: 30em;
}
/* membership */
/********************/
.membership {
  padding-top: 2em;
}
.membership .message {
  float: left;
  padding: 0 1em;
  max-width: 80%;
}
.membership .message h3 {
  margin: 0;
  font-size: 1.3em;
}
.membership .message p {
  padding: 0 0 0 2px;
  font-size: 0.93em;
}
.membership .glyphicon {
  font-size: 2em;
  float: left;
}
@font-face {
  font-family: 'Raleway Thin';
  src: url("../media/custom_fonts/raleway_thin-webfont.eot?#iefix") format('embedded-opentype'), url("../media/custom_fonts/raleway_thin-webfont.woff") format('woff'), url("../media/custom_fonts/raleway_thin-webfont.ttf") format('truetype'), url("../media/custom_fonts/raleway_thin-webfont.svg") format('svg');
}
.jose {
  font-family: 'Raleway Thin';
  padding-top: 1em;
  font-size: 4em;
}
