body {
  padding-bottom: 61px;
}
.navbar-inverse {
  background-color: #3d5b99;
  color: #ddedef;
  border: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a b {
  margin-left: 10px;
}
.navbar-inverse .navbar-nav >.open > a:hover,
.navbar-inverse .navbar-nav >.open > a:focus,
.navbar-inverse .navbar-nav >.open > a {
  background-color: transparent;
}
.menu-bar {
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
}
.menu-bar .icon-bar {
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin-top: 4px;
  display: block;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.padding-top-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
.toast-top-right {
  top: 50%;
  right: 50px;
}
.toast-success {
  background-color: #4c6eb3;
}
#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* design */
.design-play #video-design-play {
  width: 100%;
}
.design-play .video-wrapper {
  position: relative;
  font-family: 'Roboto', serif;
}
.design-play .video-wrapper .sell-content .block H1,
.design-play .video-wrapper .video-text .block H1 {
  font-size: 4em;
  margin: auto 50px;
}
.design-play .video-wrapper .sell-content .block H2,
.design-play .video-wrapper .video-text .block H2 {
  font-size: 3em;
  margin: 27px 0;
}
.design-play .video-wrapper .sell-content .block p,
.design-play .video-wrapper .video-text .block p {
  font-size: 2em;
  margin: auto 50px;
}
.design-play .video-wrapper .video-text {
  position: absolute;
  top: 8em;
  width: 47%;
  height: 0;
  left: 0;
  color: #fff;
}
.design-play .video-wrapper .sell-content {
  position: absolute;
  top: 5em;
  width: 33em;
  height: 0;
  right: 8em;
}
.design-play .video-wrapper .sell-content .block {
  padding: 32px;
  margin: 0 0 30px 0;
  background-color: #eee;
}
.design-play .video-wrapper .sell-content .block button.btn.btn-primary {
  font-size: 14px;
  margin-left: 20px;
  background-color: #4677ae;
  border: none;
}
/* design-forside-2 */
/********************/
.design-forside-2,
.design-forside-2 H1,
.design-forside-2 H2 {
/*width: 100%*/
  font-family: 'Roboto', serif;
}
.design-forside-2 .sell-content .block-dk H1,
.design-forside-2 .video-text .block-dk H1 {
  font-size: 4em;
}
.design-forside-2 .sell-content .block-dk H2,
.design-forside-2 .video-text .block-dk H2 {
  font-size: 3em;
  margin: 27px 0;
}
.design-forside-2 .sell-content .block-dk p,
.design-forside-2 .video-text .block-dk p {
  font-size: 2em;
  max-width: 250px;
}
.design-forside-2 .video-text {
  padding: 9em 6em;
  position: relative;
}
.design-forside-2 .video-text .block-dk-img {
  top: 92px;
  right: 10%;
  position: absolute;
  z-index: -1;
}
.design-forside-2 .video-text .block-dk-img img {
  height: 318px;
}
.design-forside-2 .sell-content {
  padding: 6em;
}
.design-forside-2 .sell-content .block-dk {
  margin: 0 0 4em 0;
}
.design-forside-2 .sell-content .block-dk button.btn.btn-primary {
  font-size: 14px;
  margin-left: 20px;
  background-color: #4677ae;
  border: none;
}
footer {
  padding-top: 5em;
}
@media (max-width: 768px) {
  .navbar {
    position: relative;
    margin-bottom: 0;
  }
  .position-top {
    position: absolute;
    background-color: rgba(255,255,255,0.85);
  }
  .main-padding-top {
    padding-top: 10em;
  }
  .design-forside-2 .sell-content .block-dk span {
    font-size: 2em;
    vertical-align: middle;
  }
  .design-forside-2 .sell-content .block-dk button.btn.btn-primary {
    font-size: 1.2em;
  }
  .design-forside-2 .video-text {
    padding: 2em 1em;
    height: 15em;
  }
  .design-forside-2 .video-text .block-dk p {
    font-size: 1.6em;
  }
  .design-forside-2 .video-text .block-dk-img img,
  .design-forside-2 .video-text .block-dk-img {
    top: -280px;
    right: 10%;
  }
  .design-forside-2 .sell-content {
    padding: 0 1em;
    height: 7em;
/*width 32em*/
  }
  .design-forside-2 .sell-content .owl-stage-outer,
  .design-forside-2 .sell-content .owl-stage {
    height: 7em;
  }
  .design-forside-2 .sell-content .block-dk {
    width: 205px;
    border-right: 1px solid #eee;
    margin: 1em 0.6em 0 0.3em;
  }
  .design-forside-2 .sell-content .block-dk H1,
  .design-forside-2 .video-text .block-dk H1 {
    font-size: 3em;
  }
  .design-forside-2 .sell-content .block-dk H2,
  .design-forside-2 .video-text .block-dk H2 {
    line-height: 41px;
    font-size: 1.4em;
    margin: 0;
/*background: #000000 /* Old browsers 
		background: -moz-linear-gradient(left,  #000000 82%, #ffffff 84%) /* FF3.6+ 
		background: -webkit-gradient(linear, left top, right top, color-stop(82%,#000000), color-stop(84%,#ffffff)) /* Chrome,Safari4+ 
		background: -o-linear-gradient(left,  #000000 82%,#ffffff 84%) /* Opera 11.10+ 
		background: -ms-linear-gradient(left,  #000000 82%,#ffffff 84%) /* IE10+ 
		background: linear-gradient(to right,  #000000 82%,#ffffff 84%) /* W3C 
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent*/
  }
  .design-forside-2 .sell-content .wrapper-test {
    width: 100%;
/*height: 100px;*/
/*background: #eee;*/
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .design-forside-2 .sell-content .content {
/*width: auto;*/
    white-space: nowrap;
  }
  .design-forside-2 .sell-content .item {
    display: inline-block;
/*width: 200px;*/
    height: 100px;
  }
}
/*		transition: 10s; 
		-webkit-transition: 10s;
*/
.design-forside-2 .video-text-2 .item {
  width: 30em;
}
