body {
  padding-bottom: 61px;
}
.navbar-inverse {
  background-color: #3d5b99;
  color: #ddedef;
  border: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a b {
  margin-left: 10px;
}
.navbar-inverse .navbar-nav >.open > a:hover,
.navbar-inverse .navbar-nav >.open > a:focus,
.navbar-inverse .navbar-nav >.open > a {
  background-color: transparent;
}
.menu-bar {
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
}
.menu-bar .icon-bar {
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin-top: 4px;
  display: block;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.padding-top-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.margin-bottom-med {
  margin-bottom: 10px;
}
.toast-top-right {
  top: 50%;
  right: 50px;
}
.toast-success {
  background-color: #4c6eb3;
}
#app {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* design */
.design-play #video-design-play {
  width: 100%;
}
.design-play .video-wrapper {
  position: relative;
  font-family: 'Roboto', serif;
}
.design-play .video-wrapper .sell-content .block H1,
.design-play .video-wrapper .video-text .block H1 {
  font-size: 4em;
  margin: auto 50px;
}
.design-play .video-wrapper .sell-content .block H2,
.design-play .video-wrapper .video-text .block H2 {
  font-size: 3em;
  margin: 27px 0;
}
.design-play .video-wrapper .sell-content .block p,
.design-play .video-wrapper .video-text .block p {
  font-size: 2em;
  margin: auto 50px;
}
.design-play .video-wrapper .video-text {
  position: absolute;
  top: 8em;
  width: 47%;
  height: 0;
  left: 0;
  color: #fff;
}
.design-play .video-wrapper .sell-content {
  position: absolute;
  top: 5em;
  width: 33em;
  height: 0;
  right: 8em;
}
.design-play .video-wrapper .sell-content .block {
  padding: 32px;
  margin: 0 0 30px 0;
  background-color: #eee;
}
.design-play .video-wrapper .sell-content .block button.btn.btn-primary {
  font-size: 14px;
  margin-left: 20px;
  background-color: #4677ae;
  border: none;
}
/* design-forside-2 */
/********************/
.design-forside-2 .design-play {
  width: 100%;
  font-family: 'Roboto', serif;
}
.design-forside-2 .design-play .sell-content .block H1,
.design-forside-2 .design-play .video-text .block H1 {
  font-size: 4em;
}
.design-forside-2 .design-play .sell-content .block H2,
.design-forside-2 .design-play .video-text .block H2 {
  font-size: 3em;
  margin: 27px 0;
}
.design-forside-2 .design-play .sell-content .block p,
.design-forside-2 .design-play .video-text .block p {
  font-size: 2em;
}
.design-forside-2 .design-play .video-text {
  padding: 9em 6em;
  position: relative;
}
.design-forside-2 .design-play .video-text .block-img {
  top: 92px;
  left: 335px;
  position: absolute;
  z-index: -1;
}
.design-forside-2 .design-play .video-text .block-img img {
  height: 318px;
}
.design-forside-2 .design-play .sell-content {
  padding: 6em;
}
.design-forside-2 .design-play .sell-content .block {
  margin: 0 0 4em 0;
}
.design-forside-2 .design-play .sell-content .block button.btn.btn-primary {
  font-size: 14px;
  margin-left: 20px;
  background-color: #4677ae;
  border: none;
}
@media (max-width: 768px) {
  .design-forside-2 .design-play .video-text {
    padding: 2em 4em;
    height: 15em;
  }
  .design-forside-2 .design-play .video-text .block p {
    font-size: 1.2em;
  }
  .design-forside-2 .design-play .video-text .block-img img {
    height: 180px;
  }
  .design-forside-2 .design-play .video-text .block-img {
    top: 25px;
    left: 225px;
  }
  .design-forside-2 .design-play .sell-content {
    padding: 0 4em;
  }
  .design-forside-2 .design-play .sell-content .block {
    background-color: #fff;
  }
  .design-forside-2 .design-play .sell-content .block H1,
  .design-forside-2 .design-play .video-text .block H1 {
    font-size: 3em;
  }
  .design-forside-2 .design-play .sell-content .block H2,
  .design-forside-2 .design-play .video-text .block H2 {
    font-size: 2em;
    margin: 27px 0;
  }
}
