body {
  background-color: #e9eaed;
  padding-bottom: 61px;
}
.navbar-inverse {
  background-color: #3d5b99;
  color: #ddedef;
  border: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a b {
  margin-left: 10px;
}
.navbar-inverse .navbar-nav >.open > a:hover,
.navbar-inverse .navbar-nav >.open > a:focus,
.navbar-inverse .navbar-nav >.open > a {
  background-color: transparent;
}
.menu-bar {
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  width: 20px;
}
.menu-bar .icon-bar {
  background-color: #fff;
  width: 20px;
  height: 2px;
  margin-top: 4px;
  display: block;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 50%;
  right: 50px;
}
.toast-success {
  background-color: #4c6eb3;
}
