extends ../includes/layout

block main-content
	.navbar.navbar-inverse.tp.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") 
			.navbar-collapse.collapse
				ul.nav.navbar-nav.dropdown
					li.dropdown-toggle#dropdownMenu1(data-toggle="dropdown")  
						a(href="/design/tp") anastacio tito


					ul.dropdown-menu.ptl(aria-labelledby="dropdownMenu1")
						li
							a(href="#") Photo Series
							ul.dropdown-menu.sub-menu
								li
									a(href="/design/tp/page") The Imperfections of being Cool
								li
									a(href="/design/tp/page2") Spaces and Shapes
								li
									a(href="/design/tp/page3") The Goldfish who wanted to become a sushi, because he believed in Dreams

						li
							a(href="/design/tp/portraits") Portraits
						li
							a(href="/design/tp/blogs") Blogs and Links
						li
							a(href="/design/tp/contact") Contact Details	


				div(ng-include="'/partials/account/navbar-login'")

	section.content
		div(ng-view) 		



	//- .navbar.navbar-inverse.navbar-fixed-bottom
	//- 	div.row
	//- 		div.col-xs-4.col-xs-offset-7
	//- 			div(ng-include="'/partials/account/navbar-login'")
	//- 		div.col-xs-1
	//- 			div.menu-bar.pull-right
	//- 				span.icon-bar
	//- 				span.icon-bar
	//- 				span.icon-bar

	footer.container
		//- p &copy; 2015 Photography