extends ../includes/layout

block main-content
	.navbar.navbar-inverse.tp.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") 
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					li
						a(href="#") Tito P. 

				div(ng-include="'/partials/account/navbar-login'")
	section.content
		div(ng-view) 		



	//- .navbar.navbar-inverse.navbar-fixed-bottom
	//- 	div.row
	//- 		div.col-xs-4.col-xs-offset-7
	//- 			div(ng-include="'/partials/account/navbar-login'")
	//- 		div.col-xs-1
	//- 			div.menu-bar.pull-right
	//- 				span.icon-bar
	//- 				span.icon-bar
	//- 				span.icon-bar

	footer.container
		p &copy; 2015 Photography