doctype
html
	head
		title Meantraining
		link(href="/favicon.ico", rel="shortcut icon")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		//- link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		//- link(rel="stylesheet", href="/vendor/famous/dist/famous.css")
		//- link(rel="stylesheet", href="/vendor/famous-angular/dist/famous-angular.css")

		link(rel="stylesheet", href="/vendor/owl-carousel2/dist/assets/owl.carousel.css")
		link(rel="stylesheet", href="/vendor/owl-carousel2/dist/assets/owl.theme.default.css")
		link(rel="stylesheet", href="/vendor/owl-carousel2/dist/assets/animate.css")
		
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Roboto:100normal")
		link(rel="stylesheet", href="/css/site.css")


		//- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	body(ng-app='app')
		include currentUser
		block main-content
		include scripts