doctype
html
	head
		title Meantraining
		link(href="/favicon.ico", rel="shortcut icon")
		link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toastr/toastr.css")
		link(rel="stylesheet", href="/css/site.css")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
	body(ng-app='app')
		include currentUser
		block main-content
		include scripts