.container
	.jumbotron
		h1 Meantraining
		p Welcome to Meantraining The coolest web in town

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")
